<md-content layout="row" layout-align="center center" layout-fill md-theme="docs-dark">

  <md-input-container>
    <label>Username</label>
    <input ng-model="username_register">
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input ng-model="password_register" type="password">
  </md-input-container>
  <md-input-container layout-align="center center">
    <div layout="row" layout-sm="column" layout-margin>
      <md-button type="submit" ng-click="submit()" class="md-raised" flex="50" flex-sm="100">Register</md-button>
    </div>
  </md-input-container>
</md-content>
