<p>
  Will set variables on this page.
</p>
<div>
  <form name="defaultValuesForm" ng-click="setDefaultValues()">
    <div layout="row">
      <div flex="25">
        <h5>Variable:</h5>
      </div>
      <div flex="25">
        <h5>Default</h5>
      </div>
      <div flex="25">
        <h5>Min</h5>
      </div>
      <div flex="25">
        <h5>Max</h5>
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Monthly Rent</h5>
      </div>
      <div flex="25">
        <input type="number" name="monthlyRentPersonalDef" id="monthlyRentPersonalDef" ng-model="defaultVariables.monthlyRentPersonalDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="monthlyRentPersonalMin" id="monthlyRentPersonalMin" ng-model="defaultVariables.monthlyRentPersonalMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="monthlyRentPersonalMax" id="monthlyRentPersonalMax" ng-model="defaultVariables.monthlyRentPersonalMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Tenant's Monthly Rent</h5>
      </div>
      <div flex="25">
        <input type="number" name="monthlyRentTenantDef" id="monthlyRentTenantDef" ng-model="defaultVariables.monthlyRentTenantDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="monthlyRentTenantMin" id="monthlyRentTenantMin" ng-model="defaultVariables.monthlyRentTenantMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="monthlyRentTenantMax" id="monthlyRentTenantMax" ng-model="defaultVariables.monthlyRentTenantMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Target Price</h5>
      </div>
      <div flex="25">
        <input type="number" name="targetPriceDef" id="targetPriceDef" ng-model="defaultVariables.targetPriceDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="targetPriceMin" id="targetPriceMin" ng-model="defaultVariables.targetPriceMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="targetPriceMax" id="targetPriceMax" ng-model="defaultVariables.targetPriceMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Down Payment Percentage</h5>
      </div>
      <div flex="25">
        <input type="number" name="downPaymentPercentageDef" id="downPaymentPercentageDef" ng-model="defaultVariables.downPaymentPercentageDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="downPaymentPercentageMin" id="downPaymentPercentageMin" ng-model="defaultVariables.downPaymentPercentageMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="downPaymentPercentageMax" id="downPaymentPercentageMax" ng-model="defaultVariables.downPaymentPercentageMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Mortgage Rate</h5>
      </div>
      <div flex="25">
        <input type="number" name="mortgageRateDef" id="mortgageRateDef" ng-model="defaultVariables.mortgageRateDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="mortgageRateMin" id="mortgageRateMin" ng-model="defaultVariables.mortgageRateMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="mortgageRateMax" id="mortgageRateMax" ng-model="defaultVariables.mortgageRateMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Years Ammoritized</h5>
      </div>
      <div flex="25">
        <input type="number" name="yearsAmmoritizedDef" id="yearsAmmoritizedDef" ng-model="defaultVariables.yearsAmmoritizedDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="yearsAmmoritizedMin" id="yearsAmmoritizedMin" ng-model="defaultVariables.yearsAmmoritizedMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="yearsAmmoritizedMax" id="yearsAmmoritizedMax" ng-model="defaultVariables.yearsAmmoritizedMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Income</h5>
      </div>
      <div flex="25">
        <input type="number" name="incomeDef" id="incomeDef" ng-model="defaultVariables.incomeDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="incomeMin" id="incomeMin" ng-model="defaultVariables.incomeMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="incomeMax" id="incomeMax" ng-model="defaultVariables.incomeMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Mortgage Years</h5>
      </div>
      <div flex="25">
        <input type="number" name="mortgageYearsDef" id="mortgageYearsDef" ng-model="defaultVariables.mortgageYearsDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="mortgageYearsMin" id="mortgageYearsMin" ng-model="defaultVariables.mortgageYearsMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="mortgageYearsMax" id="mortgageYearsMax" ng-model="defaultVariables.mortgageYearsMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Vacancy Rate</h5>
      </div>
      <div flex="25">
        <input type="number" name="vacancyDef" id="vacancyDef" ng-model="defaultVariables.vacancyDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="vacancyMin" id="vacancyMin" ng-model="defaultVariables.vacancyMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="vacancyMax" id="vacancyMax" ng-model="defaultVariables.vacancyMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Property Tax Percentage</h5>
      </div>
      <div flex="25">
        <input type="number" name="propertyTaxPercentageDef" id="propertyTaxPercentageDef" ng-model="defaultVariables.propertyTaxPercentageDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="propertyTaxPercentageMin" id="propertyTaxPercentageMin" ng-model="defaultVariables.propertyTaxPercentageMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="propertyTaxPercentageMax" id="propertyTaxPercentageMax" ng-model="defaultVariables.propertyTaxPercentageMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Association Dues</h5>
      </div>
      <div flex="25">
        <input type="number" name="assocDuesDef" id="assocDuesDef" ng-model="defaultVariables.assocDuesDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="assocDuesMin" id="assocDuesMin" ng-model="defaultVariables.assocDuesMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="assocDuesMax" id="assocDuesMax" ng-model="defaultVariables.assocDuesMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Management Costs</h5>
      </div>
      <div flex="25">
        <input type="number" name="managementDef" id="managementDef" ng-model="defaultVariables.managementDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="managementMin" id="managementMin" ng-model="defaultVariables.managementMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="managementMax" id="managementMax" ng-model="defaultVariables.managementMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Misc. Expenses</h5>
      </div>
      <div flex="25">
        <input type="number" name="miscDef" id="miscDef" ng-model="defaultVariables.miscDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="miscMin" id="miscMin" ng-model="defaultVariables.miscMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="miscMax" id="miscMax" ng-model="defaultVariables.miscMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Insurance Rate</h5>
      </div>
      <div flex="25">
        <input type="number" name="insuranceRateDef" id="insuranceRateDef" ng-model="defaultVariables.insuranceRateDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="insuranceRateMin" id="insuranceRateMin" ng-model="defaultVariables.insuranceRateMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="insuranceRateMax" id="insuranceRateMax" ng-model="defaultVariables.insuranceRateMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Utility Rate</h5>
      </div>
      <div flex="25">
        <input type="number" name="utilsRateDef" id="utilsRateDef" ng-model="defaultVariables.utilsRateDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="utilsRateMin" id="utilsRateMin" ng-model="defaultVariables.utilsRateMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="utilsRateMax" id="utilsRateMax" ng-model="defaultVariables.utilsRateMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Legal Accounting</h5>
      </div>
      <div flex="25">
        <input type="number" name="legalAccountingDef" id="legalAccountingDef" ng-model="defaultVariables.legalAccountingDef" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="legalAccountingMin" id="legalAccountingMin" ng-model="defaultVariables.legalAccountingMin" placeholder="Insert Angular Var">
      </div>
      <div flex="25">
        <input type="number" name="legalAccountingMax" id="legalAccountingMax" ng-model="defaultVariables.legalAccountingMax" placeholder="Insert Angular Var">
      </div>
    </div>

    <input type="submit" value="Submit Default Values" />


  </form>
</div>
