<div flex="100" layout-padding layout="column">
  <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">

    <form>
      <md-input-container>
        <label>Location</label>
        <input ng-model="location">
      </md-input-container>


      <md-input-container>
        <label>Monthly Rent</label>
        <input flex type="number" ng-model="monthlyRentPersonal">
        <br>
        <md-slider-container>
          <md-slider flex min="0" max="50000" ng-model="monthlyRentPersonal">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <md-slider-container>
          <label>Target Property Price</label>
          <input flex type="number" ng-model="targetPrice">
          <br>
          <md-slider flex min="0" max="1000000" ng-model="targetPrice">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <label>Down Payment</label>
        <input flex type="number" ng-model="downPaymentPercentage">
<br>
        <md-slider-container>
          <md-slider flex min="0" max="1000000" ng-model="downPaymentPercentage">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <label>Mortgage Price</label>
        <input flex type="number" ng-model="mortgageRate">
        <br>
        <md-slider-container>
          <md-slider flex min="0" max="1000000" ng-model="mortgageRate">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <label>How Many Years Ammoritized</label>
        <input flex type="number" ng-model="yearsAmmoritized">
        <br>
        <md-slider-container>
          <md-slider flex min="0" max="150" ng-model="yearsAmmoritized">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <label>Income</label>
        <input flex type="number" ng-model="income">
        <br>
        <md-slider-container>
          <md-slider flex min="0" max="1000000" ng-model="income">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <md-input-container>
        <md-radio-group ng-model="maritalStatus" ng-init="maritalStatus">
          <md-radio-button value="Single">Single</md-radio-button>
          <md-radio-button value="Married">Married</md-radio-button>
        </md-radio-group>
      </md-input-container>

      <p>
        {{ maritalStatus }}
      </p>

    </form>
  </md-sidenav>
</div>
