<p>
  You may set default variables with this form.
</p>
<div>
  <form name="defaultValuesForm">
    <div layout="row">
      <div flex="25">
        <h5>Variable:</h5>
      </div>
      <div flex="25">
        <h5>Default</h5>
      </div>
      <div flex="25">
        <h5>Min</h5>
      </div>
      <div flex="25">
        <h5>Max</h5>
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Monthly Rent</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentPersonalDef" id="monthlyRentPersonalDef" ng-model="defaultVariables.monthlyRentPersonalDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentPersonalMin" id="monthlyRentPersonalMin" ng-model="defaultVariables.monthlyRentPersonalMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentPersonalMax" id="monthlyRentPersonalMax" ng-model="defaultVariables.monthlyRentPersonalMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Tenant's Monthly Rent</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentTenantDef" id="monthlyRentTenantDef" ng-model="defaultVariables.monthlyRentTenantDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentTenantMin" id="monthlyRentTenantMin" ng-model="defaultVariables.monthlyRentTenantMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentTenantMax" id="monthlyRentTenantMax" ng-model="defaultVariables.monthlyRentTenantMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Target Price</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="targetPriceDef" id="targetPriceDef" ng-model="defaultVariables.targetPriceDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="targetPriceMin" id="targetPriceMin" ng-model="defaultVariables.targetPriceMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="targetPriceMax" id="targetPriceMax" ng-model="defaultVariables.targetPriceMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Down Payment Percentage</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="downPaymentPercentageDef" id="downPaymentPercentageDef" ng-model="defaultVariables.downPaymentPercentageDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="downPaymentPercentageMin" id="downPaymentPercentageMin" ng-model="defaultVariables.downPaymentPercentageMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="downPaymentPercentageMax" id="downPaymentPercentageMax" ng-model="defaultVariables.downPaymentPercentageMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Mortgage Rate</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageRateDef" id="mortgageRateDef" ng-model="defaultVariables.mortgageRateDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageRateMin" id="mortgageRateMin" ng-model="defaultVariables.mortgageRateMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageRateMax" id="mortgageRateMax" ng-model="defaultVariables.mortgageRateMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Years Ammoritized</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="yearsAmmoritizedDef" id="yearsAmmoritizedDef" ng-model="defaultVariables.yearsAmmoritizedDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="yearsAmmoritizedMin" id="yearsAmmoritizedMin" ng-model="defaultVariables.yearsAmmoritizedMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="yearsAmmoritizedMax" id="yearsAmmoritizedMax" ng-model="defaultVariables.yearsAmmoritizedMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Income</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="incomeDef" id="incomeDef" ng-model="defaultVariables.incomeDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="incomeMin" id="incomeMin" ng-model="defaultVariables.incomeMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="incomeMax" id="incomeMax" ng-model="defaultVariables.incomeMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Mortgage Years</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageYearsDef" id="mortgageYearsDef" ng-model="defaultVariables.mortgageYearsDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageYearsMin" id="mortgageYearsMin" ng-model="defaultVariables.mortgageYearsMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageYearsMax" id="mortgageYearsMax" ng-model="defaultVariables.mortgageYearsMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Vacancy Rate</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="vacancyDef" id="vacancyDef" ng-model="defaultVariables.vacancyDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="vacancyMin" id="vacancyMin" ng-model="defaultVariables.vacancyMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="vacancyMax" id="vacancyMax" ng-model="defaultVariables.vacancyMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Property Tax Percentage</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="propertyTaxPercentageDef" id="propertyTaxPercentageDef" ng-model="defaultVariables.propertyTaxPercentageDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="propertyTaxPercentageMin" id="propertyTaxPercentageMin" ng-model="defaultVariables.propertyTaxPercentageMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="propertyTaxPercentageMax" id="propertyTaxPercentageMax" ng-model="defaultVariables.propertyTaxPercentageMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Association Dues</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="assocDuesDef" id="assocDuesDef" ng-model="defaultVariables.assocDuesDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="assocDuesMin" id="assocDuesMin" ng-model="defaultVariables.assocDuesMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="assocDuesMax" id="assocDuesMax" ng-model="defaultVariables.assocDuesMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Management Costs</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="managementDef" id="managementDef" ng-model="defaultVariables.managementDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="managementMin" id="managementMin" ng-model="defaultVariables.managementMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="managementMax" id="managementMax" ng-model="defaultVariables.managementMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Misc. Expenses</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="miscDef" id="miscDef" ng-model="defaultVariables.miscDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="miscMin" id="miscMin" ng-model="defaultVariables.miscMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="miscMax" id="miscMax" ng-model="defaultVariables.miscMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Insurance Rate</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="insuranceRateDef" id="insuranceRateDef" ng-model="defaultVariables.insuranceRateDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="insuranceRateMin" id="insuranceRateMin" ng-model="defaultVariables.insuranceRateMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="insuranceRateMax" id="insuranceRateMax" ng-model="defaultVariables.insuranceRateMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Utility Rate</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="utilsDef" id="utilsDef" ng-model="defaultVariables.utilsDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="utilsMin" id="utilsMin" ng-model="defaultVariables.utilsMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="utilsMax" id="utilsMax" ng-model="defaultVariables.utilsMax">
      </div>
    </div>

    <div layout="row">
      <div flex="25">
        <h5>Legal Accounting</h5>
      </div>
      <div flex="25">
        <input type="number" step="any" name="legalAccountingDef" id="legalAccountingDef" ng-model="defaultVariables.legalAccountingDef">
      </div>
      <div flex="25">
        <input type="number" step="any" name="legalAccountingMin" id="legalAccountingMin" ng-model="defaultVariables.legalAccountingMin">
      </div>
      <div flex="25">
        <input type="number" step="any" name="legalAccountingMax" id="legalAccountingMax" ng-model="defaultVariables.legalAccountingMax">
      </div>
    </div>

    <input type="submit" value="Submit Default Values" ng-click="setDefaultValues(defaultVariables)" />


  </form>
</div>
