<!DOCTYPE html>
<html ng-app="chickApp">
  <head>
    <meta charset="utf-8">
    <title>Duplex Chick Admin Page</title>

    <!-- package manager scripts -->
    <script type="text/javascript" src="../vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-messages/angular-messages.min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript" src="../scripts/app.min.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="../vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <div ng-controller="AdminController">


      <md-toolbar>
        <h1>Duplex Chick Admin Page</h1>
        <!-- <md-tabs>
          <md-tab label="Email List"></md-tab>
          <md-tab label="Default Values"></md-tab>
        </md-tabs> -->
      </md-toolbar>


    </div>
    <main ng-view>

    </main>

  </body>
</html>
